body{
     font-family: "IBM Plex Mono", monospace;
     font-weight: 500;
     background-color: black;
     color:#ffffff;
     margin: 0;
}
.left_div{
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    justify-content: center;
    animation: appear-from-left linear;
    animation-timeline: view();
     animation-range: entry 0% cover 40%;
     opacity: 0.6;
     transition: opacity 0.3s;
}
.right_div{
    display: flex;
    flex-direction: row;                
    margin-top: 120px;
    justify-content: center;
    animation: appear-from-right linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    opacity: 0.6;
    transition: opacity 0.3s;
}
#img_1{
    width: 500px;
}
.left_div img{
    border-radius: 20px;
    margin-right: 30px;
    
}
.left_div:hover{
    opacity: 1;
}
.right_div img{
    border-radius: 20px;
    margin-left: 30px;
   
}
.right_div:hover{
     opacity: 1;
}
 @keyframes appear-from-left{
    from{
        opacity: 0;
        scale: 0.7;
        transform: translateX(-200px);
    }
    to{
         opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
 }
 @keyframes appear-from-right{
    from{
        opacity: 0;
        scale: 0.7;
        transform: translateX(200px);
    }
    to{
         opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
 }
 #last-div{
    margin-bottom: 100px;
 }
 #background-div{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url('Images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover ;
    opacity: 0.7;
    font-family: "Waterfall", cursive;
    display: flex;
    
 }
 #background-div h1{
    font-size: 200px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
     display: flex;
 }